.card h5{
    font-weight: 800;
    border-left: 3px solid #ddd;
    padding-left: 10px;
    margin: 20px 0 10px;
    font-size: 16px;
    color: #EC8377;
    font-family: Mina;
}
.card .avatar {
    width: 60px;
    height:60px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}
.img-circle {
    border-radius: 50%;
}
 .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.avatar::before {
    -webkit-animation: 2.5s blow 0s linear infinite;
    animation: 2.5s blow 0s linear infinite;
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    top: 5px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 0;
    left: 20px;
}

@-webkit-keyframes blow {
0% {
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 0.5);
  transform: scale3d(1, 1, 0.5); }
50% {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 0.5);
  transform: scale3d(1, 1, 0.5); }
100% {
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transform: scale3d(1, 1, 0.5);
  transform: scale3d(1, 1, 0.5); } }

@keyframes blow {
0% {
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 0.5);
  transform: scale3d(1, 1, 0.5); }
50% {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 0.5);
  transform: scale3d(1, 1, 0.5); }
100% {
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transform: scale3d(1, 1, 0.5);
  transform: scale3d(1, 1, 0.5); } }
  .user-profile .profile-img img {
    width: 100%;
    border-radius: 100%; }
.card ul.team-members li:not(:last-child) {
    border-bottom: 1px solid #F1EAE0;
    margin-bottom: 10px;
}
.card ul.team-members li {
   padding: 20px 0px 10px;
    
}
.card ul.team-members li .user_name {
    font-weight: normal;
    font-size: 18px;
    font-family: Mina;
}
ul.team-members li .comments {
    margin-top: 15px;
}
.card ul.team-members li .posted_time{
    margin-top: 5px;    
    color: #888;
}
.card ul.team-members li .posted_time i{
    font-size: 13px;
}
.card ul.team-members li .posted_time span{
    display: inline-block;
}