<div class="main-content">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-xs-12">
                                <a [routerLink]="['/discussion/create']" class="new-thread">
                                        <i class="material-icons">add_circle_outline</i>Create
                                </a>
                        </div>
                </div>
                <div class="row">
                        <div class="col-xs-12">
                                <ol class="thread-list">
                                        <li class="col-sm-12" *ngFor="let board of boardDetail">
                                                <div class="thread_title">
                                                        <a [routerLink]="['/view-forum', board.id]">
                                                                <h4>{{board.name}}</h4>
                                                                <span class="thread_time"><i class="material-icons">timer</i> {{board.updatedat}}</span>        
                                                        </a>
                                                </div>
                                        </li>
                                </ol>
                        </div>

                </div>
        </div>
</div>